
<!--DataTable-->
<script type="text/javascript" src="/static/assets/datatables/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/assets/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/assets/datatables/datatables.min.js"></script>

<!--Icons
<script type="text/javascript" src="/static/assets/icons/d36fbe380a.js" crossorigin="anonymous"></script>-->

<!-- Core -->
<script src="/static/assets/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="/static/assets/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Charts -->
<script src="/static/assets/Charts/Chart.js"></script>
<script src="/static/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/static/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="/static/assets/Charts/Chart.js"></script>

<!-- Datepicker -->
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="/static/assets/vendor/Moment/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="/static/assets/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="/static/assets/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons 
<script async defer src="/static/assets/vendor/Github/buttons.js"></script>-->

<!-- Volt JS -->
<script src="/static/assets/js/volt.js"></script>

<!--Fontawesome JS-->
<script src="/static/assets/fontawesome/js/fontawesome-all.min.js"></script>