{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% block title %} Ajustes generales {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Información general</h2>
                <form action="" method="post" enctype='multipart/form-data' >{% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                               {% bootstrap_field form.company_name %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                {% bootstrap_field form.company_phone %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                               {% bootstrap_field form.company_email %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                {% bootstrap_field form.miniature %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                {% bootstrap_field form.logo %}
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">
                      Actualizar
                    </button>
                   
                </form>
            </div>
           
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" style="background :#b3afaf   ;"></div>
                        <div class="card-body pb-5">
                            <img src="{% if settings.logo %} {{settings.logo.url}} {% endif %}" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                {{settings.company_name}}
                            </h4>
                            
                            <p class="text-gray mb-4">
                                
                                {% if settings.company_email %}
                                 {{settings.company_email}}
                                {% endif %}
                                    
                              
                            </p>
                            <!--                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                                Connect
                            </a>
                            <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                            -->

                        </div>
                      </div>
                </div>
             
                <div class="col-12">
                    <!--
                    <div class="card card-body border-0 shadow">
                        <h2 class="h5 mb-4">Seleccione miniatura</h2>
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                 
                                <img class="rounded avatar-xl" style="height: 5rem;" src="" alt="change cover">
                            </div>
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ms-xl-3">
                                    <div class="d-flex">
                                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                        <input type="file">
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">Choose Image</div>
                                            <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                                        
                        </div>
                    </div>
                -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
