{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}
<!--sweeralert2 -->
<script src="/static/assets/sweeralert2/sweetalert2@11"></script>
{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    
</div>
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Cambiar contraseña</h2>

            {% if form.errors %}

            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            {% endif %}
            <form method="post"> {% csrf_token %}

                <div class="row">
                    <div class="col mb-3">
                        <div class="form-group">
                            <label class="" for="id_old_password">Contraseña antigua</label>
                            <input type="password" name="old_password" autocomplete="new-password" class="form-control"
                                required id="id_old_password" placeholder="Contraseña antigua" />
                            <span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <div class="form-group">
                            <label class="" for="id_new_password1">Contraseña nueva</label>
                            <input type="password" name="new_password1" autocomplete="new-password" class="form-control"
                                required id="id_new_password1" placeholder="Contraseña nueva" />
                            <span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <div class="form-group">
                            <label class="" for="id_new_password2">Confirmar contraseña nueva</label>
                            <input type="password" name="new_password2" autocomplete="new-password" required
                                id="id_new_password2" class="form-control" placeholder="Confirmar contraseña nueva" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" mb-3">
                        
                            <button type="submit" class="btn btn-success animate-up-2" id="reset">Actualizar contraseña</button>

                       
                      
                            <a href="{% url 'profile' request.user.id %}" type="button" class="btn btn-gray-800 animate-up-2">Cancelar</a>
                        
                    </div>
                   
                </div>

            </form>
        </div>

    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow border-0 text-center p-0">
                    <div class="profile-cover rounded-top" style="background:#b3afaf" ></div>
                    <div class="card-body pb-5">
                        <img src="{% if request.user.avatar %}  {{ request.user.avatar.url}} {% else %}#{% endif %}"
                            class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">

                        <h4 class="h3">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        </h4>
                        <h5 class="fw-normal">
                            {{ request.user.username }}
                        </h5>
                        <p class="text-gray mb-4">
                            {% if request.user.email %}
                            {{ request.user.email }}
                            {% endif %}
                            
                        </p>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}