{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% block title %} Perfil de usuario {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
 
</div>
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Información general </h2>
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            {% bootstrap_field form.first_name %}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            {% bootstrap_field form.last_name %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div>
                            {% bootstrap_field form.email %}

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div>
                        {% bootstrap_field form.avatar %}

                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-8 mb-3">
                        <div>
                            <button type="submit" class="btn btn-success animate-up-2">Actualizar Información</button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 text-end">
                        <a id="change_pass" class="btn btn-gray-800 animate-up-2" type="button"
                            href="{% url 'password_change' %}">Cambiar Contraseña</a>
                    </div>
                </div>



            </form>
        </div>


    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow border-0 text-center p-0">
                    <div class="profile-cover rounded-top" style="background:#b3afaf" ></div>
                    <div class="card-body pb-5">
                    
                        <img src="{% if request.user.avatar %}  {{ request.user.avatar.url}} {% else %}#{% endif %}" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4"
                            alt="">
                      
                        <h4 class="h3">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        </h4>
                        <h5 class="fw-normal">
                            {{ request.user.username }}
                        </h5>
                        <p class="text-gray mb-4">
                            {{ request.user.email }}
                        </p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}