{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% block title %}Gestionar estaciones {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/datatables/datatables.min.css" />


{% endblock stylesheets %}

{% block content %}
<div class="py-4">

    <div class="d-flex justify-content-end">
        <a href="{% url 'estacion_create' %}" class="btn btn-primary animate-up-2">
            <i class="fa fa-plus"></i>
            Crear estación</a>
    </div>

</div>



<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="pronosticosTable" class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <!--<th class="border-0 rounded-start">#</th>-->
                        <th class="col border-0">Nombre:</th>
                        <th class="col border-0">Código:</th>
                        <th class="col border-0">Provincia:</th>
                    
                       
                        <th class="col border-0 rounded-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list  %}

                    <!-- Item -->
                    <tr>
                     
                        <td class="col"> {{object.name }} </td>
                        <td class="col"> {{object.code }} </td>
                        <td class="col"> {{object.provincia }} </td>
                      
                       
                        <td class="col text-success">
                            <div class="d-flex align-items-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                  
                                    <a href="{% url 'estacion_update' object.id %}" type="button"
                                        class="btn btn-sm btn-secondary">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                    </a>
                                    <button onclick="delete_estacion('{% url 'estacion_delete' object.id %}')" type="button"
                                        class="btn btn-sm btn-primary">
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                    </button>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<!--<div class="modal fade" id="update_pronostico" role="dialog"></div>-->
<div class="modal fade" id="delete_estacion" role="dialog"></div>
<div class="modal fade" id="create_pronostico" role="dialog"></div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function create_pronostico(url) {
        $('#create_pronostico').load(url, function () {
            $(this).modal('show');
        });
    }
</script>

<script>
    function delete_estacion(url) {
        $('#delete_estacion').load(url, function () {
            $(this).modal('show');
        });
    }
</script>

<script>
    function update_pronostico(url) {
        $('#update_pronostico').load(url, function () {
            $(this).modal('show');
        });
    }
</script>
<script>
    $(document).ready(function () {
        var table = $('#pronosticosTable').DataTable({
            ordering: false,
            language: {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontró nada - lo sentimos",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });

        table.buttons().container()
            .appendTo('#pronosticosTable_wrapper .col-md-6:eq(0)');
    });
</script>

{% endblock javascripts %}