<script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% block title %} Útiles {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}


{% if request.user.permiss != 'Usuario' %}

<div class="row mt-2">
  <div class="col-12 mb-4">
    <div class="card  border-0 shadow">
      <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="col-5 d-block mb-3 mb-sm-0">
          <div class="fs-5 fw-normal mb-2">Generar informe de las estaciones por días</div>

        </div>
      </div>
      <div class="card-body p-2">
      

          <label class="my-1 me-2" for="estaciones">Seleccione Estación</label>
          <div class="row">
            <div class="mb-4 d-flex justify-content-end ms-auto">
              <select class="me-2 form-select estacion" id="estaciones_pdf" name="estaciones_pdf"
                aria-label="Default select example">

                {% for station in  stations %}
                <option value="{{station.code}}">{{station.name}}</option>
                {% endfor %}
                
              </select>
              <div class="input-group me-2">

                <input type="text" id="fecha_reporte" name="fecha_reporte"
                  class="datepicker_input form-control fecha_reporte" placeholder="Fecha">
              </div>
              <div class="col-4 text-end">


              
                <a id="pdf_button" name="pdf" type="submit" class="btn  btn-primary animate-up-2 pdf">Descargar resumen</a>


              </div>
            </div>

          </div>
        
      </div>
    </div>
  </div>
</div>

{% endif %}
<div class="row mt-2">
  <div class="col-12 mb-4">
    <div class="card  border-0 shadow">
      <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="col-5 d-block mb-3 mb-sm-0">
          <div class="fs-5 fw-normal mb-2">{{title}} - {{fecha}}</div>

        </div>
        <form action="{% url 'utiles'%}" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="d-flex justify-content-end ms-auto">

            <select class="form-select me-2" id="variable" name="variable" aria-label="Default select example">
              <option selected value="temp">Temperatura</option>
              <option value="temp_min">Temperatura mínima</option>
              <option value="temp_max">Temperatura máxima</option>
              <option value="temp_rocio">Temperatura rocío</option>
              <option value="humedad">Humedad</option>
              <option value="presion">Presión</option>
              <option value="viento">Velocidad Viento</option>
              <option value="precip">Precipitaciones</option>
            </select>
            <div class="input-group me-2">
              <input type="text" id="fecha_inicio" name="fecha_inicio" class="datepicker_input form-control"
                placeholder="Fecha" required>
            </div>


            <button type="submit" class="btn btn-secondary text-dark btn-sm me-2 pdf">Filtrar</button>

          </div>
        </form>
      </div>
      <div class="card-body p-2">

        <canvas id="densityChart" style="max-height: 450px"
          class="ct-chart-sales-value ct-double-octave ct-series-g"></canvas>

      </div>
    </div>
  </div>


</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var densityCanvas = document.getElementById("densityChart");

  Chart.defaults.global.defaultFontFamily = "Lato";
  Chart.defaults.global.defaultFontSize = 18;


  var categoryData = {
    labels: {{xvalues}},
    datasets: [
      {%for element in elements %} {
        label: '{{element.label}}',
        data: {{element.data}},
        backgroundColor: '{{element.color}}',
        borderWidth: 1,
        yAxisID: "y-axis-A"
      },
      {% endfor %}

    ]
  };

  var chartOptions = {
    scales: {
      xAxes: [{
        barPercentage: 1,
        categoryPercentage: 0.3
      }],
      yAxes: [{
        id: "y-axis-A"
      }, ]
    }
  };

  var barChart = new Chart(densityCanvas, {
    type: 'bar',
    data: categoryData,
    options: chartOptions
  });
</script>

<script>
  /* Bootstrap 5 JS included */
  /* vanillajs-datepicker 1.1.4 JS included */

  const getDatePickerTitle = elem => {
    // From the label or the aria-label
    const label = elem.nextElementSibling;
    let titleText = '';
    if (label && label.tagName === 'LABEL') {
      titleText = label.textContent;
    } else {
      titleText = elem.getAttribute('aria-label') || '';
    }
    return titleText;
  }

  const elems = document.querySelectorAll('.datepicker_input');
  for (const elem of elems) {
    const datepicker = new Datepicker(elem, {
      autoclose: true,
      'format': 'yyyy-mm-dd',

      title: getDatePickerTitle(elem)
    });
  }
</script>

<script>
  $('#pdf_button').click(function () {
    var estaciones_pdf = $('#estaciones_pdf').find(":selected").val();
    var fecha_reporte = $('#fecha_reporte').val();

    if (fecha_reporte == '') {
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Debe establecer una fecha.',
        confirmButtonText: 'Aceptar',
        showConfirmButton: true,
    
      })
    } else {
      $.ajax({
        url: "{% url 'reporte_diario' %}",
        headers: {
          'X-CSRFToken': "{{ csrf_token }}"
        },
        type: "post",
        data: {
          'estaciones_pdf': estaciones_pdf,
          'fecha_reporte': fecha_reporte
        },

      });
    }
  });
</script>
{% endblock javascripts %}